<div class="menubar">
    <div class="container">
        <mat-toolbar color="primary">
            <div class="menubar-menuwrapper">
                <img src="assets/image/icon_web_burger_menu.png" alt="Menuicon" class="menubar-menuicon">
                <div class="menubar-textwrapper">
                    <img src="assets/image/icon_web_dashboard.png" alt="Dashboardicon" class="menubar-dashboardicon">
                    <h3 class="menubar-text">Probearbeit - Dashboard</h3>
                </div>
            </div>
          
            <img src="assets/image/icon_web_thumbnail_user.png" alt="Usericon" class="menubar-usericon">
        </mat-toolbar>
    </div>
</div>