<div class="login">
  
    <a href="/login" class="login-logoLink "><img src="assets/image/logo_login_white.png" alt="Logo" class="login-logoLoginWhite"></a>

<div class="login-box">
  <img src="assets/image/logo_app_icon.png" alt="CubeImage" class="login-cubeImg">
  <img src="assets/image/logo_login_grey.png" alt="Logo" class="login-logoLoginGrey">
  <button class="login-button" [routerLink]="['/dashboard']">Login</button>
</div>
<footer class="login-footer">
  <a href="#">Privacy</a>
  <a href="#">Terms & Conditions</a>
  <a href="#">Imprint</a>
</footer>
</div>